<!-- The main content area -->
<main id="main" role="main">

	<!--HOME-INTRO-->
	<section class="home-intro">
		<div class="container">
	        <div class="row">
	            <div class="col-md-7 col-lg-6">
	            	<div class="inner d-flex align-items-start flex-column justify-content-center h-100">
						<div class="row">
							<div class="col-md-11">
								<h1>Your New Book</h1>
								<p class="teaser-1">Love is all around</p>
							</div>
						</div>
	            	</div>
	            </div>
	            <div class="col-md-4 ml-auto col-lg-6 col-grey">
					<%- image_tag("/img/golden_enso.png") %>
	            </div>
	        </div>
	    </div>
	</section>
	<!--END-HOME-INTRO-->

	<!--HOME-SECTION-1-->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-grey section-1-left col-offset-top">
					<div class="inner d-flex align-items-start flex-column h-100">
						<div class="row">
							<div class="col-md-11 col-lg-10">
								<h3>Some Heading</h3>
								<p class="p-large">
									Your text here
								</p>
								<div class="col-lg-11 d-flex align-items-start flex-column lion">
									<%- image_tag("/img/lion.png") %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-blue col-offset-top section-1-right">
					<div class="inner d-flex align-items-start flex-column justify-content-center h-100">
						<div class="row">
							<div class="col-lg-11 d-flex align-items-start flex-column">
								<%- image_tag("/img/shahada.jpg") %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-HOME-SECTION-1-->

	<!--HOME-SECTION-2-->
	<section>
		<div class="container section-2-left">
			<div class="row">
				<div class="col-md-6 col-blue">
					<div class="inner d-flex align-items-start flex-column h-100">
						<div class="row">
							<div class="col-md-11 col-lg-10">
								<div class="img-holder">
									<iframe width="500" height="320" src="https://www.youtube.com/embed/783hwpJTjlo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-grey section-2-right col-offset-top">
					<div class="inner d-flex align-items-start flex-column h-100">
						<p>&nbsp;</p>
						<p class="teaser-2">Quote Me!</p>
						<p class="p-large">
							"One story, one road, now<br/>
							is left: that it is.<br/>
							And on this there are signs in plenty that,<br/>
							being, it is ungenerated and indestructible,<br/>
							whole, of one kind and unwavering,<br/>
							and complete."
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-HOME-SECTION-2-->

	<!--HOME-SECTION-3-->
	<section class="section-3 p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="inner text-center">
						<a href="/chapter-1" class="btn btn-arrow">Begin</a>
						<div class="img-holder">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END-HOME-SECTION-3-->

</main>